#################
## PHPStorm
#################

.idea/

#################
## Eclipse
#################

.settings/
.buildpath
.project

#################
## Misc
#################

inc/mysqli.inc.php
cli/generated/